/* .bg{
  background-image: url(https://c7.hotpng.com/preview/182/962/449/picture-frames-ornament-photography-wallpaper-oriental-frame.jpg);
  height: 100%; 
   width: 100%; 
   min-height: auto;
  background-repeat: repeat-x;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  margin: 0 auto;
} */

/* 
.cartBtn__count{
  position: absolute;
  bottom: -7px;
  right: -7px;
  border-radius: 100px;
  width: 20px;
  height: 20px;
  font-size: 14px;
  display: inline-block;
  background-color: red;
  color: #FFF;
} */
